<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://twu-okta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fc1446e5-e96f-4d84-9d01-058620c79965/resourceGroups/ChevronPOC-ResourceGroup/providers/Microsoft.Web/sites/twu-okta</ResourceId>
    <UserName>$twu-okta</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://twu-okta.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>